<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>SexyList</title>
  <link rel="stylesheet" href="css/style.css" />
  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <header class="header" role="banner">
      SexyList
    </header>
    <div class="app">
      <div ng-controller="ItemController">
        <p ng-if="items.length > 0"><button class="btn btn--error btn--block" ng-click="truncate()">Clear all</button></p>
        <div class="items-meta" ng-if="items.length > 0">
          {{ itemsRemaining() }} of <ng-pluralize count="items.length" when="{'one': '1 item remaining', 'other': '{} items remaining'}"></ng-pluralize>
        </div>
        <ul ui-sortable ng-model="items" class="items">
          <li ng-repeat="item in items track by $index">
            <button class="item__delete" ng-click="delete(item)">&times;</button>
            <label>
              <input class="item__toggle" type="checkbox" ng-model="item.complete">
              <span class="item__title item__title-complete-{{ item.complete }}">{{ item.title }}</span>
            </label>
          </li>
        </ul>
        <form novalidate class="form--add-item" name="formItem" ng-submit="create(formItem.$valid)">
          <input autofocus required type="text" ng-model="item.title" placeholder="New item">
          <button class="btn" type="submit" ng-disabled="formItem.$invalid">Add</button>
        </form>
      </div>
    </div>
    <footer class="footer">
        <a href="http://github.com/mikefrancis/sexylist">View on GitHub</a>
      </footer>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
